[submodule "julia-vscode"]
	path = julia-vscode
	url = git@github.com:goretkin/julia-vscode.git
[submodule "dev/ProgressLogging"]
	path = dev/ProgressLogging
	url = git@github.com:goretkin/ProgressLogging.jl.git
[submodule "dev/TerminalLoggers"]
	path = dev/TerminalLoggers
	url = git@github.com:goretkin/TerminalLoggers.jl.git
[submodule "vscode-extension-tester"]
	path = vscode-extension-tester
	url = https://github.com/redhat-developer/vscode-extension-tester
[submodule "opencv4nodejs"]
	path = opencv4nodejs
	url = git@github.com:nut-tree/opencv4nodejs.git
